/* Estilo dos links no Header */
.btn-nav {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #128c7e; /* Verde escuro do WhatsApp */
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none; /* Remove o sublinhado */
    transition: 0.3s;
}

.btn-nav:hover {
    background: #25d366; /* Cor do WhatsApp */
    transform: scale(1.05);
}

.btn-nav:active {
    transform: scale(0.98);
}
